.frame {
  border: var(--corner) solid;
  border-image-source: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" fill="black"><path d="M2 0H1C1 .6.6 1 0 1v1c.6 0 1 .4 1 1h1c0-.6.4-1 1-1V1a1 1 0 0 1-1-1Z"/></svg>');
  border-image-slice: 1 fill;
}

.base {
  display: grid;
  height: 100%;
}

.cell {
  box-shadow: inset 0 0 0 1px red;
}