.frame {
  filter: drop-shadow(0 0 12px rgba(0,0,0,0.2));
  display: flex;
  overflow: hidden;
}

.base {
  display: grid;
  grid-template-columns: repeat(var(--_cols), var(--piece-size));
  margin-inline: auto;

  > * { min-width: 0; min-height: 0; }
}
