.base {
  --_colorLoadingBackground: #131313;
  --_colorStroke: #837f77;
  --_colorFill: #c5b696;
  --_colorHeading: #e4d29c;
  --_colorText: #a79676;

  --_windowWidth: 76px;
  --_windowHeight: 42px;
  --_windowGap: 24px;
  --_windowFrameStroke: 2px;
  --_windowFrameStrokeInner: 1px;
  --_windowStrokeWidth: calc(var(--_windowFrameStrokeInner) * 3);
  --_pathSize: 50px;

  position: relative;
  height: 100vh;
  background-color: var(--_colorLoadingBackground);
  isolation: isolate;
}

.dotsWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.dots,
.dotsBright {
  object-fit: cover;
  object-position: center;
  
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;
  user-select: none;
}

.dots {
  color: #161616;
}

.dotsBright {
  z-index: 1;
  color: #31312f;
}

.centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.windowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--_windowGap);
  z-index: 1;
}

.windowWrapper::before,
.windowWrapper::after {
  content: "";
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  width: 40px;
  top: -2px;
  bottom: -2px;
}

.windowWrapper::before {
  left: -2px;
  background: linear-gradient(to right, var(--_colorLoadingBackground) 10%, transparent 100%);
}

.windowWrapper::after {
  right: -2px;
  background: linear-gradient(to left, var(--_colorLoadingBackground) 10%, transparent 100%);
}

.window {
  width: var(--_windowWidth);
  height: var(--_windowHeight);
  isolation: isolate;
}

.windowFrame {
  border-radius: 2px;
  outline: 1px solid var(--_colorStroke);

  border-style: solid;
  border-color: var(--_colorFill);
  border-top-width: var(--_windowFrameStrokeInner);
  border-bottom-width: var(--_windowFrameStrokeInner);
  border-left-width: var(--_windowFrameStroke);
  border-right-width: var(--_windowFrameStroke);

  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px var(--_colorStroke), inset 0 0 100px rgba(29, 28, 27, 0.3), 0 0 0 1px black;
  overflow: hidden;
}

.windowStroke {
  outline: none;
  width: var(--_windowStrokeWidth);
  height: 100%;
  border-top: none;
  border-bottom: none;
  position: absolute;
  border-width: 0;
  background-color: var(--_colorFill);
  z-index: -1;
  box-shadow: inset 0 0 0 1px var(--_colorStroke);
}

.windowLeft {
  left: 18%;
}

.windowRight {
  right: 18%;
}

.windowBackground {
  --_offsetGap: calc(var(--_windowGap) + var(--_windowFrameStroke) * 2 * var(--_windowIndex));
  --_positionX: calc(var(--_offsetPercent) + var(--_offsetGap) * 2);
  z-index: -2;
  height: 100%;
  width: 100%;

  position: absolute;
  background-size: 1000px cover;
  background-repeat: repeat-x;
  background-position: var(--_positionX) center;

  animation: scrollBackground 20s linear infinite;
  will-change: background-position;
}

.pomPomWrapper {
  position: absolute;
  left: 22%;
  right: 22%;
  top: 0;
  bottom: 0;
  padding-top: 8%;
}

.pomPom {
  z-index: -2;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lineWrapper {
  position: relative;
  width: 100%;
  height: 20px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.lineWrapper::before,
.lineWrapper::after {
  content: "";
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  width: 60px;
  top: -2px;
  bottom: -2px;
}

.lineWrapper::before {
  left: -2px;
  background: linear-gradient(to right, var(--_colorLoadingBackground) 10%, transparent 100%);
}

.lineWrapper::after {
  right: -2px;
  background: linear-gradient(to left, var(--_colorLoadingBackground) 10%, transparent 100%);
}

.lineCircle {
  width: 24px;
  height: 24px;
  border-radius: 100vw;
  border: 2px solid var(--_colorStroke);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lineCircle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  width: 24px;
  height: 12px;
  background-color: var(--_colorLoadingBackground);
}

.lineCircle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 2px;
  height: 8px;
  background-color: var(--_colorStroke);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--_colorStroke);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: var(--_colorLoadingBackground);
  z-index: 1;
}

.line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 3px;
  border: 2px solid var(--_colorStroke);
  border-radius: 100vw;
  z-index: 2;
}

.footerContent {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 58px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.pathIcon {
  width: var(--_pathSize);
  height: var(--_pathSize);
  object-fit: contain;
  object-position: center;
}

.loadingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.heading {
  font-size: clamp(18px, 4vw, 36px);
  font-weight: 500;
  color: var(--_colorHeading);
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 3px rgba(29, 28, 27, 0.7);
}

.text {
  font-size: clamp(14px, 3vw, 22px);
  color: var(--_colorText);
  margin: 0;
  padding: 0;
  max-width: 300px;
  line-height: 1.4;
  text-shadow: 0 1px 2px rgba(29, 28, 27, 0.6);
  user-select: none;
}

.divider {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.1875rem;
}

.progressDivider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--_colorHeading);
  z-index: 2;
  border-radius: 0.375rem;
  transform: translateX(calc((var(--_progress, 0%) - 100%)));
  transition: transform 0.3s linear;
  will-change: transform;
}

@keyframes scrollBackground {
  from { background-position: var(--_positionX) center; }
  to   { background-position: calc(var(--_positionX) - var(--_windowAnimationCycle)) center; }
}

@media screen and (min-width: 768px) {
  .base {
    --_windowWidth: 140px;
    --_windowHeight: 77px;
    --_windowGap: 36px;
    --_windowFrameStroke: 4px;
    --_windowFrameStrokeInner: 2px;
    --_windowStrokeWidth: calc(var(--_windowFrameStrokeInner) * 2);
    --_pathSize: 80px;
  }
}

@media screen and (min-width: 992px) {
  .base {
    --_windowWidth: 200px;
    --_windowHeight: 110px;
    --_windowGap: 42px;
    --_windowFrameStroke: 6px;
    --_windowFrameStrokeInner: 3px;
    --_windowStrokeWidth: calc(var(--_windowFrameStrokeInner) * 1.5);
    --_pathSize: 100px;
  }
}
