.base {
  --piece-size: clamp(40px, 8vmin, 120px);
  display: flex;
  gap: 3rem;
}

.board {
  flex-grow: 1;
}

.board, .stock {
  min-width: 0;
  min-height: 0;
}

.stock {
  --_overrided-piece-size: min(7rem, var(--piece-size));
}

.reserve {
  --_internal-piece-size: var(--_overrided-piece-size, var(--piece-size));
  width: var(--_internal-piece-size);
  height: var(--_internal-piece-size);
  position: relative;
}

.reservePiece {
  position: absolute;
  inset: 0;
}

.onBoard {
  --_overrided-piece-size: var(--piece-size);
}

.resetButton {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}