.trigger {
  display: contents;
}

.content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info {
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  user-select: none;
  pointer-events: none;
  width: 320px;
  height: auto;
  display: flex;
}

.infoOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.infoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 197px;
  gap: 2rem;
}

.selectedImage {
  border-radius: 100vw;
  user-select: none;
  pointer-events: none;
}

.selectedTitle {
  font-size: 2rem;
  color: #434344;
  text-align: center;
}

.profilesWrapper {
  width: 100%;
  padding-top: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profilesTitle {
  font-size: 2.375rem;
  padding-bottom: 1rem;
}

.scrollWrapper {
  flex: 1;
  position: relative;
  border-top: 2px solid #a68f78;
}

.scrollWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent 0%, var(--_modal-background) 90%);
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.75rem;
  padding-block: 1.125rem;
  padding-inline: 1rem;
}

.profile {
  width: 130px;
  height: 130px;
  border-radius: 100vw;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  background-color: #cabea5;
  box-shadow: 0 0 0 4px transparent;
  opacity: 1;
  transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
  will-change: box-shadow, opacity;
}

.profile:hover:not(.selected),
.profile:focus-visible:not(.selected) {
  opacity: 0.7; 
}

.profile:active:not(.selected) {
  opacity: 1;
}

.profile::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 100vw;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 0.2s ease-out;
  will-change: background-color;
}

.profile:active:not(.selected)::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.profile.selected {
  box-shadow: 0 0 0 4px white;
}

.profile::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 100vw;
  inset: 0;
  box-shadow: inset 0 0 0 3px #a68f78;
}

.profile .profileImage {
  overflow: hidden;
  border-radius: inherit;
}

.profile .selectedOverlay {
  content: '';
  position: absolute;
  display: block;
  border-radius: 100vw;
  inset: -12px;
  pointer-events: none;
  border: 2px dotted #434344;
  box-sizing: border-box;
  transform: rotate(90deg);
  animation: rotateSelectedOverlay 25s linear infinite;
}

.selectedOverlay .selectedOverlayDot {
  width: 26px;
  height: 12px;
  background-color: var(--_modal-background);
  border-radius: 100vw;
  position: absolute;
  z-index: 1;
}

.selectedOverlay .selectedOverlayDot::before {
  content: '';
  top: 2px;
  bottom: 2px;
  left: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border-radius: 100vw;
  background-color: #434344;
  z-index: 2;
}

.selectedOverlayDot.selectedOverlayTop {
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.selectedOverlayDot.selectedOverlayBottom {
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.profile .selectedMark {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.125rem;
  z-index: 2;
  animation: selectedMarkBounce 1s linear infinite;
}

.profileImage {
  user-select: none;
  pointer-events: none;
}

.scrollbarTrack {
  position: absolute;
  width: 6px;
  right: 2px;
  bottom: 36px;
  top: 24px;
  background-color: #cdc2c1;
}

.scrollbarThumb {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #575353
}

.footer {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  padding-block: 32px;
  gap: 2rem;
}

.actionButton {
  padding: 1rem 3rem;
  font-size: 2rem;
  line-height: 2.25rem;
  max-width: 400px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 0 36px;
    gap: 6rem;
  }
  .footer {
    padding-inline: 36px;
  }
}

@media screen and (min-width: 992px) {
  .content {
    padding: 0 64px;
    flex-direction: row;
    gap: 6rem;
  }
  .info {
    padding-bottom: 6.25rem;
  }
  .footer {
    padding-inline: 48px;
    flex-direction: row;
    gap: 4rem;
  }
  .profiles {
    justify-content: flex-start;
  }
}

@keyframes selectedMarkBounce {
  0% {
    transform: translateX(-50%) translateY(3px);
  }
  50% {
    transform: translateX(-50%) translateY(-2px);
  }
  100% {
    transform: translateX(-50%) translateY(3px);
  }
}

@keyframes rotateSelectedOverlay {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
